
<div class="loginAdmin">
    <div class="loginbox">
      <h1>LOGIN CLIENT</h1>
      <a routerLink="inscription"><button class="btnInscription" mat-raised-button color="primary">Inscription</button></a>
      <div class="textbox">
        <input type="text" [(ngModel)] = "num" placeholder="Numero"/>
      </div>
      <div class="textbox">
        <input type="password" [(ngModel)] = "mdp" placeholder="Mot de passe"/>
      </div>
      <button class="btn" (click) = "login()">Se connecter</button>
    </div>
</div>
