
.loginAdmin{
  margin: 7%;
  margin-left: 25%;
  margin-top: 6%;
  height: 400px;
  width: 80px;
  font-family: sans_serif;
  background-color:#042331;
  background-size: cover;
}
.loginbox{
  width:400px;
  position: absolute;
  top:50%;
  left:50%;
  border:#042331 solid 1px;
  padding: 4%;
  transform:translate(-50%,-50%);
}

.loginbox h1{
  float: left;
  font-size: 20px;
  border-bottom: 6px solid #042331;
  margin-bottom: 50px;
  padding:13px 0;
  color:#042331;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #042331;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width:80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width:100%;
  background: none;
  border: none;
  color: #042331;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0;
}
.btninscription{
  width:100%;
  background: none;
  border: none;
  color: #042331;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0;
  float: left;
}

