<div class="loginAdmin">
    <div class="loginbox">
      <h1>LOGIN ADMIN</h1>
      <div class="textbox">
        <input type="text" [(ngModel)] = "nom" placeholder="Nom"/>
      </div>
      <div class="textbox">
        <input type="password" [(ngModel)] = "mdp" placeholder="Mot de passe"/>
      </div>
      <button class="btn" (click) = "login()">Se connecter</button>
    </div>
  </div>




