<div fxFlex="30">
  <app-navigation></app-navigation>
</div>
<div fxFlex="80">
  <div class="pricing-table">
    <div *ngIf="liste">
      <div fxFlex="33%"  class="three" *ngFor="let of of offre ">
        <div class="pricing-card">
          <h3 class="pricing-card-header">{{of.nom}}</h3>
          <div class="price"><sup>Ar</sup>{{of.prix}}</div>
          <ul>
            <li><strong>{{of.code}}</strong></li>
            <li><strong>20 GB</strong> SSD</li>
            <li>{{of.validite}} jour(s)</li>
          </ul>
          <button class="order-btn" (click) = "remove(of.idOffre)">Supprimer</button>
          <button class="order-btn" [routerLink]="'../../admin/offre/detail/'+of.idOffre" routerLinkActive="active" routerDirection="root">Voire détails</button>
          <button class="order-btn" [routerLink]="'../../admin/offre/ajoutdetail/'+of.idOffre" routerLinkActive="active" routerDirection="root">Ajouter détails</button>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="33%"  class="four">
    <button class="order-btn" (click) = "ajout()">Ajouter</button>
  </div>
</div>


  <div class="add" *ngIf="add">
    <h2>Ajout offre</h2>
       <label>Nom de l'offre</label>
     	 <input type="text" [(ngModel)] = "nom" />
       <label>Code</label>
       <input type="text" [(ngModel)] = "code" />
       <label>Prix</label>
       <input type="text" [(ngModel)] = "prix" />
       <label>Validite</label>
       <input type="text" [(ngModel)] = "validite" />
       <button (click) = "ajouter()">Ajouter</button>
    {{message}}
  </div>
  <div class="add" *ngIf="upd">
    <h2>Update offre</h2>
    <label>Nom de l'offre</label>
    <input type="text" [(ngModel)] = "nom" />
    <label>Code</label>
    <input type="text" [(ngModel)] = "code" />
    <label>Prix</label>
    <input type="text" [(ngModel)] = "prix" />
    <label>Validite</label>
    <input type="text" [(ngModel)] = "validite" />
    <button (click) = "update()">Changer</button>
    {{message}}
  </div>

