<div fxFlex="30">
  <app-navigation></app-navigation>
</div>

<div fxFlex="80">
  <h1>Liste Depot</h1>
  <hr>
  <table>
      <tr id="header">
          <th>Numero du client</th>
          <th>Valeur</th>
          <th>Date</th>
          <th></th>
      </tr>
      <div *ngFor="let re of liste ">
        <tr>
          <td>{{re['num']}}</td>
          <td>{{re.valeur}}</td>
          <td>{{re.daty}}</td>
          <td>USA </td>
          <td>Male </td>
        </tr>
      </div>
  </table>
</div>

