<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   -->
 <!-- icon -->
<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
  <header>{{nom}}</header>
<ul>
<li><i class="fas fa-qrcode"></i><a [href]="url+'admin/compte'">Compte</a></li>
<li><i class="fas fa-link"></i><a [href]="url+'admin/depot'">Depot</a></li>
<li><i class="fas fa-stream"></i><a [href]="url+'admin/retrait'">Retrait</a></li>
<li><i class="fas fa-calendar-week"></i><a [href]="url+'admin/credit'">Credits</a></li>
<li><i class="far fa-question-circle"></i><a [href]="url+'admin/offre'">Liste des offres</a></li>
</ul>
</div>
<section></section>
</body>


<p><app-deconnect></app-deconnect></p>
