<div fxFlex="30">
  <app-navigation></app-navigation>
</div>
<div fxFlex="80">
  <div class="liste" *ngIf="liste">
  <div fxLayout='column' class="zero">
    <div fxFlex="33" class="one" >Liste Offre</div>
    <div fxFlex="33%"  class="two">
      <div fxFlex="22%"    class="two_one">Nom offre</div>
      <div fxFlex="205px"  class="two_two">Code</div>
      <div fxFlex="30"     class="two_three">Prix</div>
      <div fxFlex="20"     class="two_four">Validite</div>
      <div fxFlex="20"     class="two_four"></div>
      <div fxFlex="20"     class="two_four"></div>
      <div fxFlex="20"     class="two_four"></div>
      <div fxFlex="20"     class="two_four"></div>
    </div>
    <div fxFlex="33%"  class="three" *ngFor="let of of offre ">
      <div fxFlex="22%"    class="three_one">{{of.nom}}</div>
      <div fxFlex="205px"  class="three_two">{{of.code}}</div>
      <div fxFlex="30"     class="three_three">{{of.prix}}</div>
      <div fxFlex="30"     class="three_three">{{of.validite}}</div>
      <div fxFlex="20"     class="three_three"><button (click) = "updater(of.idOffre,of.nom,of.code,of.prix,of.validite)">Changer</button></div>
      <div fxFlex="20"     class="three_three"><button (click) = "remove(of.idOffre)">Supprimer</button></div>
      <div fxFlex="20"     class="three_three"><button [routerLink]="'../../admin/offre/detail/'+of.idOffre" routerLinkActive="active" routerDirection="root">Voire détails</button></div>
      <div fxFlex="20"     class="three_three"><button [routerLink]="'../../admin/offre/ajoutdetail/'+of.idOffre" routerLinkActive="active" routerDirection="root">Ajouter détails</button></div>
    </div>
    <div fxFlex="33%"  class="four">
      <button (click) = "ajout()">Ajouter</button>
    </div>
  </div>
  </div>
  <div class="add" *ngIf="add">
      <p>Ajout offre</p>
      <label>Nom de l'offre</label>
      <input type="text" [(ngModel)] = "nom" />
      <label>Code</label>
      <input type="text" [(ngModel)] = "code" />
      <label>Prix</label>
      <input type="text" [(ngModel)] = "prix" />
      <label>Validite</label>
      <input type="text" [(ngModel)] = "validite" />
      <button (click) = "ajouter()">Ajouter</button>
    {{message}}
  </div>
  <div class="add" *ngIf="upd">
    <p>Update offre</p>
    <label>Nom de l'offre</label>
    <input type="text" [(ngModel)] = "nom" />
    <label>Code</label>
    <input type="text" [(ngModel)] = "code" />
    <label>Prix</label>
    <input type="text" [(ngModel)] = "prix" />
    <label>Validite</label>
    <input type="text" [(ngModel)] = "validite" />
    <button (click) = "update()">Changer</button>
    {{message}}
  </div>
</div>
