{{nom}}
<p><a [href]="url+'admin/compte'">Compte</a></p>
<p><a [href]="url+'admin/depot'">Depot</a></p>
<p><a [href]="url+'admin/retrait'">Retrait</a></p>
<p><a [href]="url+'admin/credit'">Credits</a></p>
<p><a [href]="url+'admin/offre'">Liste des offres</a></p>
<p><app-deconnect></app-deconnect></p>
