<div fxFlex="30">
  <app-navigation></app-navigation>
</div>
<div fxFlex="80">
    <div fxLayout='column' class="zero">
      <div fxFlex="33" class="one" >Liste Offre</div>
      <div fxFlex="33%"  class="two">
        <div fxFlex="22%"    class="two_one">Code</div>
        <div fxFlex="205px"  class="two_two">Valeur</div>
        <div fxFlex="20"     class="two_four"></div>
        <div fxFlex="20"     class="two_four"></div>
      </div>
      <div fxFlex="33%"  class="three" *ngFor="let cr of credit ">
        <div fxFlex="22%"    class="three_one">{{cr.code}}</div>
        <div fxFlex="205px"  class="three_two">{{cr.valeur}}</div>
        <div fxFlex="20"     class="three_three"><button (click) = "remove(cr.idCode)">Supprimer</button></div>
      </div>
      <div fxFlex="33%"  class="four">
        <button (click) = "ajout()">Ajout</button>
      </div>
    </div>
  <div class="add" *ngIf="add">
    <p>Generer credits</p>
    <label>Valeur</label>
    <input type="text" [(ngModel)] = "valeur" />
    <button (click) = "ajouter()">Ajouter</button>
    {{message}}
  </div>
</div>
