<label>Nom</label>
<input type="text" [(ngModel)] = "nom" />
<label>Email</label>
<input type="email" [(ngModel)] = "mail" />
<label>Operateur</label>
<select [(ngModel)]="idOperateur">
  <option *ngFor="let op of operateur" [ngValue]="op.idOperateur">{{op.nom}}</option>
</select>
<label>Mots de passe</label>
<input type="password" [(ngModel)] = "mdp" />
<button (click) = "signup()">S'inscrire</button>

