<div fxFlex="30">
  <app-navigation></app-navigation>
</div>
<div fxFlex="80">
  <div class="liste" *ngIf="appels && appel">
    <div fxLayout='column' class="zero">
      <div fxFlex="33" class="one">Offre Appel</div>
      <div fxFlex="33%" class="two">
        <div fxFlex="22%" class="two_one">Valeur TTC</div>
        <div fxFlex="30" class="two_two">Vers même operateur</div>
        <div fxFlex="30" class="two_three">Vers autre operateur</div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="30" class="two_four"></div>
      </div>
      <div fxFlex="33%" class="three" *ngFor="let item of appels">
        <div fxFlex="22%" class="three_one">{{item['valeurTTC']}} Ar</div>
        <div fxFlex="205px" class="three_two">{{item.puMemeOp}} Ar/s</div>
        <div fxFlex="205px" class="three_two">{{item.puAutreOp}} Ar/s</div>
        <div fxFlex="20" class="three_three"><button (click)="updaterAppel(item.idDetailOffreAppel)">Changer</button></div>
        <div fxFlex="20" class="three_three"><button (click)="remove('../../admin/offre/appel/'+item.idDetailOffreAppel)">Supprimer</button></div>
      </div>
    </div>
  </div>
  <div class="int" *ngIf="internets && internet">
    <div fxLayout='column' class="zero">
      <div fxFlex="33" class="one">Offre Internet</div>
      <div fxFlex="33%" class="two">
        <div fxFlex="22%" class="two_one">Megaoctets</div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="20" class="two_four"></div>
      </div>
      <div fxFlex="33%" class="three" *ngFor="let item of internets">
        <div fxFlex="22%" class="three_one">{{item.mo}} Mo</div>
        <div fxFlex="20" class="three_three"></div>
        <div fxFlex="20" class="three_three"></div>
        <div fxFlex="20" class="three_three"><button (click)="updaterInternet(item.idOInternet)">Changer</button></div>
        <div fxFlex="20" class="three_three"><button (click)="remove('../../admin/offre/internet/'+item.idOInternet)">Supprimer</button></div>
      </div>
    </div>
  </div>
  <div class="sm" *ngIf="smss && sms">
    <div fxLayout='column' class="zero">
      <div fxFlex="33" class="one">Offre sms</div>
      <div fxFlex="33%" class="two">
        <div fxFlex="30" class="two_one">Nombre de sms</div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="30" class="two_four"></div>
        <div fxFlex="20" class="two_four"></div>
      </div>
      <div fxFlex="33%" class="three" *ngFor="let item of smss">
        <div fxFlex="22%" class="three_one">{{item['nbrSms']}} sms</div>
         <div fxFlex="20" class="three_three"></div>
        <div fxFlex="20" class="three_three"></div>
        <div fxFlex="20" class="three_three"><button (click)="updaterSms(item.idOInternet)">Changer</button></div>
        <div fxFlex="20" class="three_three"><button (click)="remove('../../admin/offre/sms/'+item.idOInternet)">Supprimer</button></div>
      </div>
    </div>
  </div>
</div>


        <div class="add" *ngIf="!appel">
  <p>Changer offre Appel</p>
  <label>Valeur TTC</label>
  <input type="text" [(ngModel)]="valeur" />
  <label>Meme operateur</label>
  <input type="text" [(ngModel)]="puM" />
  <label>Autre operateur</label>
  <input type="text" [(ngModel)]="puA" />
  <button (click)="updateAppel()">Changer</button>
</div>
<div class="add" *ngIf="!internet">
  <p>Changer offre Internet</p>
  <label>Megaoctets</label>
  <input type="text" [(ngModel)]="mega" />
  <button (click)="updateInternet()">Changer</button>
</div>
<div class="add" *ngIf="!sms">
  <p>Changer offre Sms</p>
  <label>Nombre de sms</label>
  <input type="text" [(ngModel)]="nbsms" />
  <button (click)="updateSms()">Changer</button>
</div>
