<div fxLayout="row">
  <div fxFlex="40">
    <app-navigation></app-navigation>
  </div>
  <div fxFlex="80">
    <div class="containte" *ngIf="etat">
      <label>Operateur</label>
      <p>{{nom}}</p>
      <label>Prefixe</label>
      <p>{{prefixe}}</p>
      <p><button (click) = "displayCheck()">Update</button></p>
    </div>
    <div class="mdp" *ngIf="check">
      <label>Saisir mots de passe:</label>
      <input type="password" [(ngModel)] = "mdp" />
      <button (click) = "checkMdp()">Valider</button>
      {{message}}
    </div>
    <div class="update" *ngIf="update">
      <label>Operateur</label>
      <input type="text" [(ngModel)] = "nom" />
      <label>Prefixe</label>
      <input type="text" [(ngModel)] = "prefixe" />
      <label>Mots de passe</label>
      <input type="password" [(ngModel)] = "mdp" />
      <button (click) = "updateO()">Changer</button>
    </div>
  </div>
  <p><app-deconnect></app-deconnect></p>
</div>


