<div fxFlex="30">
  <app-navigation></app-navigation>
</div>
<div fxFlex="80">
  <div fxLayout='column' class="zero">
    <div fxFlex="33" class="one" >Liste Depot</div>
    <div fxFlex="33%"  class="two">
      <div fxFlex="22%"    class="two_one">Numero du client</div>
      <div fxFlex="205px"  class="two_two">Valeur</div>
      <div fxFlex="30"     class="two_three">Date</div>
      <div fxFlex="20"     class="two_four"></div>
    </div>
    <div fxFlex="33%"  class="three" *ngFor="let re of liste ">
      <div fxFlex="22%"    class="three_one">{{re['num']}}</div>
      <div fxFlex="205px"  class="three_two">{{re.valeur}}</div>
      <div fxFlex="30"     class="three_three">{{re.daty}}</div>
      <div fxFlex="20"     class="three_three"><button (click) = "validation(re.idMobileMoney)">Valider</button></div>
    </div>
  </div>
</div>

